{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
  <h1>Login</h1>

  <form method="POST" action="{{ url_for('login') }}">
      <label for="name">Name:</label><br>
      <input type="text" name="name" id="name" placeholder="Your name"><br><br>

      <label for="email">Email:</label><br>
      <input type="email" name="email" id="email" placeholder="Your email" required><br><br>

      <button type="submit" class="btn btn-primary">Login</button>
  </form>
{% endblock %}
